<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RotationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RotationHelper.Properties.Settings>
            <setting name="MinTimeBetweenProcessing" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MaxTimeBetweenProcessing" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MinTimeBetweenKeyPressAndMouseClick" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxTimeBetweenKeyPressAndMouseClick" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ModifierKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CONTROL</string>
                        <string>SHIFT</string>
                        <string>MENU</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RotationHelper.Properties.Settings>
    </userSettings>
</configuration>